.index
  .center-panel
    max-width: 58%
    width: 100%
    margin: 0 8px
    height: calc(100vh - 30px)
    // overflow-y: auto
    padding: 1px
    // margin: -1px
    box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
    border-radius: 4px
    +media-b(1130)
      max-width: 69%  
      margin: 0 0 8px 8px  
      height: 50vh
    +media-b(1080)
      max-height: initial
      height: auto
    +media-b(960)
      max-width: 100%  
      margin: 8px 0 0 0 
      order: 5 
      // height: calc(50vh - 30px)
    +media-b(767)
      height: initial
    .image
      border-radius: 4px
      background: $white
      margin-bottom: 8px
      max-height: 40vh
      overflow-y: auto
      +media-b(1080)
        max-height: initial
      img
        width: 100% 
    .table
      border-radius: 4px
      background: $white
      +media-b(685)
        overflow-x: scroll
      .drop-menu-currecy-select-1
        border-radius: 4px
        border: none !important
        background-color: rgba(20, 16, 41, 0.02) !important
        text-transform: uppercase
        font-size: 10px
        line-height: 12px
        color: $black !important
        width: initial !important
        font-family: 'Montserrat', sans-serif
        position: relative
        font-weight: 600
        margin: 0
        padding: 6px 28px 6px 8px
        .custom-icon
          right: 3px
        &.ui-selectmenu-button-open
          .custom-icon
            transform: rotate(270deg) !important
      .top
        padding: 8px 8px 0 8px
        margin-bottom: 22px
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        & > div
          +media-b(685)
            margin-right: 16px
        .big-toggler
          background-color: rgba(20, 16, 41, 0.02)
          padding: 2px
          border-radius: 2px
          display: flex
          align-items: center
          span
            text-align: center
            color: $black
            padding: 6px 23px
            cursor: pointer
            &.active
              box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
              border-radius: 2px
              background: $white
        .date
          display: flex
          align-items: center
          .hr
            margin: 0 2px
          input
            opacity: 0
            position: absolute
            z-index: -555
          label
            padding: 6px 8px
            background-color: rgba(20, 16, 41, 0.02)
            border-radius: 4px
            display: flex
            align-items: center
            cursor: pointer
            color: $black
            img
              margin-left: 12px
        .currency
          display: flex
          align-items: center
          .sep
            margin: 0 5px
            color: $l-gray
      &-content
        max-height: 43vh
        overflow-y: auto
        +media-b(1080)
          max-height: 300px
        .titles
          display: flex
          align-items: center
          padding: 0 12px
          margin-bottom: 12px
          .title
            width: 15.3%
            color: $black
            display: flex
            align-items: center
            cursor: pointer
            +media-b(600)
              flex-shrink: 0
              width: 22%
            +media-b(420)
              width: 32%
            &.short
              width: 8%
              +media-b(600)
                width: 12%
              +media-b(420)
                width: 20%
            img
              opacity: 0.4
              transform: rotate(90deg)
              width: 13px
              height: 13px
        .lines
          padding-bottom: 10px
          .line
            display: flex
            align-items: center
            padding: 6px 12px
            cursor: pointer
            transition: all 0.3s
            &:hover
              background: rgba(20, 16, 41, 0.02)
            .cell
              width: 15.3%
              +media-b(600)
                flex-shrink: 0
                width: 22%
              +media-b(420)
                width: 32%
              &.short
                width: 8%
                +media-b(600)
                  width: 12%
                +media-b(420)
                  width: 20%
              &.emp
                color: $black
              &.filled
                color: #ffaa00
              &.open
                color: #16b862
              &.cancel
                color: #f54562
