.index
  .js-panel
    +media-b(1130)
      max-width: 0
      margin: 0
      padding: 0

    &.active
      max-width: 100%
      margin: -1px
      padding: 1px
  .left-panel
    max-width: 18.33333%
    width: 100%
  .common-info
    box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
    border-radius: 4px
    padding: 8px
    margin-bottom: 8px
    background: $white
    +media-b(1130)
      padding: 19px
      width: 50%
    +sm-one(width, 100%)
    @media screen and ( min-width: 1635px )
      padding: 20px
    .top
      display: flex
      justify-content: space-between
      margin-bottom: 20px
      position: relative
      z-index: 888
      background: $white
      padding: 8px
      margin: -8px
      border-radius: 4px
      @media screen and ( min-width: 1500px )
        margin-bottom: 32px
      .star
        display: flex
        align-items: center
        font-weight: 600
        text-transform: uppercase
        letter-spacing: 1px
        +media-b(1130)
          font-size: 14px
        @media screen and ( min-width: 1500px )
          font-size: 14px
          letter-spacing: 1.08px
          line-height: 24px
        img
          margin-right: 6px
      .drop-menu-currecy-select
        border-radius: 4px
        border: none !important
        background: $white !important
        text-transform: uppercase
        font-size: 16px
        line-height: 24px
        color: $black !important
        width: initial !important
        font-family: 'Montserrat', sans-serif
        position: relative
        font-weight: 600
        margin: 0
        padding: 0
        &.ui-selectmenu-button-open
          .custom-icon
            transform: rotate(270deg) !important
    .price
      display: flex
      align-items: flex-start
      justify-content: space-between
      margin: 10px 0 23px 0
      @media screen and ( min-width: 1500px )
        margin-bottom: 37px
      .last-price
        display: flex
        flex-direction: column
        .title 
          color: $l-gray
          margin-bottom: 5px
          @media screen and ( min-width: 1500px )
            font-size: 14px
            line-height: 16px
          +media-b(1130)
            font-size: 13px
        .value
          display: flex
          align-items: flex-end
          .emp
            color: $black
            font-size: 16px
            line-height: 24px
            font-weight: 700
            margin-right: 4px
            @media screen and ( min-width: 1500px )
              font-size: 24px
            +media-b(1130)
              font-size: 24px
          .dollars
            line-height: 21px
            font-weight: 600
            @media screen and ( min-width: 1500px )
              font-size: 14px
              line-height: 17px
            +media-b(1130)
              line-height: 15px
      .change
        display: flex
        flex-direction: column
        .title 
          color: $l-gray
          margin-bottom: 5px
          @media screen and ( min-width: 1500px )
            font-size: 14px
            line-height: 16px
          +media-b(1130)
            font-size: 13px
        .value
          display: flex
          align-items: center
          img
            margin-bottom: 4px
          .emp
            color: $black
            font-size: 16px
            line-height: 24px
            font-weight: 700
            margin-left: 5px
            @media screen and ( min-width: 1500px )
              font-size: 24px
            +media-b(1130)
              margin-left: 8px
              font-size: 24px
            
            span 
              font-size: 10px
              color: $d-gray
          .dollars
            line-height: 17px
            font-weight: 600
            @media screen and ( min-width: 1500px )
              font-size: 14px
              line-height: 17px
    .table
      +sm
        display: flex
        width: 100%
        justify-content: space-between
      .line
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        +sm
          flex-direction: column
          align-items: flex-start
          width: 25%
        &:not(:last-child)
          margin-bottom: 9px
          +sm-one(margin-bottom, 0)
        .title
          color: $l-gray
          line-height: 24px
          @media screen and ( min-width: 1500px )
            font-size: 13px
            line-height: 16px
          +media-b(1130)
            font-size: 13px
            margin-bottom: 8px
        .value
          font-size: 14px
          line-height: 24px
          color: $black
          +sm-one(line-height, 14px)
          +media-b(1130)
            font-size: 16px
            display: flex
            flex-direction: column
          @media screen and ( min-width: 1500px )
            font-size: 16px
            line-height: 24px
          .small
            font-size: 10px
            color: $d-gray
            +media-b(1130)
              font-size: 14px
              margin-top: 4px
            @media screen and ( min-width: 1500px )
              font-size: 14px
              line-height: 16px
              margin-left: 8px
          