.index
  .my-row
    +media-b(1080)
      align-items: flex-start
  .right-panel
    max-width: 22%
    width: 100%
    height: calc(100vh - 30px)
    // overflow-y: auto
    margin: -1px
    padding: 1px
    box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
    border-radius: 4px
    +media-b(1130)
      height: initial
    .js-orderbook
      +media-b(1130)
        display: none
    .order-book
      border-radius: 4px
      background: $white
      max-height: calc(100vh - 60px)
      &:last-child
        margin-bottom: 15px
      +media-b(1130)
        max-height: initial
        // display: none
      .heading
        font-weight: 600
        padding: 8px 
        letter-spacing: 1px
        text-transform: uppercase 
        margin-bottom: 13px
        +media-b(1130)
          font-size: 14px
          padding: 16px
      .titles
        display: flex
        align-items: center
        margin-bottom: 11px
        +media-b(1130)
          font-size: 14px
          line-height: 24px
        .title
          width: 29.666%
          text-align: center
          color: $black
          &.exch
            width: 11%
            text-align: left
      .last-price
        display: flex
        align-items: center
        padding: 6px 12px 6px 6px
        background: rgba(20, 16, 41, 0.02)
        justify-content: space-between
        margin: 5px 0 5px 13px
        +media-b(1130)
          padding: 12px 16px
          font-size: 14px
          margin: 8px 0 8px 13px
        .cell
          color: $black
          +media-b(1130)
            font-size: 14px
            line-height: 24px
      .orders
        max-height: calc(50vh - 69px) 
        overflow-y: auto
        +media-b(1130)
          max-height: 41vh 
          overflow-y: auto
        +sm-one(max-height, 19.5vh)

        .order
          display: flex
          align-items: center
          position: relative
          .progress-light
            position: absolute
            width: 33%
            height: 100%
            top: 0
            left: 0
            &.l-green
              background: rgba(22, 184, 98, 0.03)
            &.d-green
              background: rgba(22, 184, 98, 0.4)
              width: 20%
            &.l-red
              background: rgba(245, 69, 98, 0.03)
            &.d-red
              background: rgba(245, 69, 98, 0.4)
              width: 20%
          .cell
            width: 29.666%
            text-align: center
            padding: 6px 0
            position: relative
            +media-b(1130)
              padding: 12px 0
              font-size: 14px
              line-height: 24px
            &.exch
              width: 11%
              justify-content: flex-start
              max-height: 24px
              display: flex
              align-items: center
              +media-b(1130)
                padding: 0
                img
                  width: 20px
                  height: 20px
              .arrow
                opacity: 0.4
                width: 14px
                height: 14px
                margin-left: -2px
              img
                &:not(:last-child)
                  margin-right: 2px
            &.emp
              color: $black
            &.green
              color: #16b862
              background: rgba(22, 184, 98, 0.12)
            &.red
              color: #f54562
              background: rgba(245, 69, 98, 0.12)
        

