.sidebar
  &-line
    width: 25px
    box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12);
    background: $white
    transition: all 0.3s
    flex-shrink: 0
    position: fixed
    height: 100%
    top: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
    @media screen and ( min-width: 1300px )
      display: none !important
    +media-b(1130)
      display: none
    .line
      width: 4px
      height: 270px
      background-color: rgba(20, 16, 41, 0.12)
      border-radius: 2px
  &-wrapper
    min-height: 100vh
    max-width: 72px
    width: 100%
    background: $white
    box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 16px 24px rgba(20, 16, 41, 0.12), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
    z-index: 50
    transition: all 0.3s
    overflow-y: auto
    flex-shrink: 0
    top: 0
    transform: translateX(0)
    position: fixed
    height: 100%
    top: 0
    left: 0
    transform: translateX(-300%)
    z-index: 5555
    @media screen and ( min-width: 1300px )
      transform: translateX(0) !important
    +media-b(1130)
      display: none
    &.open
     max-width: 310px
     margin: 0
     top: 0
     left: 0
     nav
       align-items: flex-start
     .dark-mode
       width: 100%
       height: initial
       padding: 14px 30px
       justify-content: flex-start
       .text
         display: block
     .nav-link
       height: initial
       padding: 14px 30px
       border-radius: 0
       width: 100%
       justify-content: flex-start
       // color: #a19fa9
       &.active
         &::before
           opacity: 1
       .text
         display: block
     .coin
       width: 100% !important
       height: initial !important
       padding: 14px 30px !important
       justify-content: flex-start !important
       .text
         display: block !important
         m
     .add-wallet
       padding: 14px 30px !important
       width: 100% !important
       height: initial !important
       justify-content: flex-start !important
       span
         display: block !important
    +media-b(1200)
      // transform: translateX(-300%)
      // position: fixed
      // margin: 0
    +media-b(1600)
      // max-height: 100vh
      // overflow-x: hidden
      // max-width: 72px
     
  &-content
    .logo
      display: inline-flex
      margin: 24px 0 36px 22px
    .links
      font-size: 16px
      line-height: 24px
      font-weight: 600
      color: $d-gray
      .icon
        font-size: 20px
      a
        color: inherit
        font-size: inherit
    .dark-mode
      padding-left: 30px
      display: flex
      align-items: center
      margin-bottom: 52px
      padding: 14px 30px
      cursor: pointer
      width: 48px
      height: 48px
      padding: 0
      justify-content: center
      margin-left: auto
      margin-right: auto
      +media-b(1600)
        // width: 48px
        // height: 48px
        // padding: 0
        // justify-content: center
        // margin-left: auto
        // margin-right: auto
      .text
        margin-left: 27px
        flex-shrink: 0
        // transition-delay: 0.3s
        display: none
        +media-b(1600)
          // display: none
      &:hover
        background: rgba(20, 16, 41, 0.02)
    nav
      width: 100%
      display: flex
      flex-direction: column
      margin-bottom: 90px
      align-items: center
      +media-b(1600)
        // align-items: center
    .nav-link
      padding: 14px 30px
      position: relative
      width: 100%
      display: flex
      align-items: center
      color: #a19fa9 !important
      justify-content: center
      width: 48px
      height: 48px
      border-radius: 50%
      padding: 0
      +media-b(1600)
        // justify-content: center
        // width: 48px
        // height: 48px
        // border-radius: 50%
        // padding: 0
      &:not(:last-child)
        margin-bottom: 5px
      &:hover
        // transition: all 0.3s
        background: rgba(20, 16, 41, 0.02)
      &.active
        color: $blue !important
        background: rgba(0, 187, 255, 0.03)
        &::before
          content: ''
          height: 100%
          width: 2px
          background: #00bbff
          left: 0
          top: 0
          display: block
          position: absolute  
          // transition: all 0.3s
          opacity: 0
          +media-b(1600)
            // opacity: 0
      .text
        margin-left: 27px
        display: none
        +media-b(1600)
          // display: none

    .aside-coins
      margin-bottom: 32px
      .coin
        padding: 14px 30px
        font-size: 16px
        line-height: 24px
        font-weight: 600
        cursor: pointer
        display: flex
        align-items: center
        // transition: all 0.3s
        width: 48px
        height: 48px
        padding: 0
        justify-content: center
        margin-left: auto
        margin-right: auto
        +media-b(1600)
          // width: 48px
          // height: 48px
          // padding: 0
          // justify-content: center
          // margin-left: auto
          // margin-right: auto
        &:not(:last-child)
          margin-bottom: 5px
        &:hover
          background: rgba(20, 16, 41, 0.02)
        .text
          margin-left: 27px
          flex-shrink: 0
          // @media screen and ( min-width: 1300 )
          display: none
        img
          width: 20px
          height: 20px
    .add-wallet
      padding: 14px 30px
      width: 100%
      font-size: 16px
      line-height: 24px
      font-weight: 600
      cursor: pointer
      background: none
      border: none
      color: $d-gray
      flex-shrink: 0
      display: flex
      align-items: center
      justify-content: flex-start
      // justify-content: flex-start
      // transition: all 0.3s
      width: 48px
      height: 48px
      padding: 0
      justify-content: center
      margin: auto
      +media-b(1600)
        // width: 48px
        // height: 48px
        // padding: 0
        // justify-content: center
        // margin: auto
      img
        transform: rotate(45deg)
      span
        margin-left: 27px
        flex-shrink: 0
        display: none
        +media-b(1600)
          // display: none