body
  font-family: 'Montserrat', sans-serif
  font-size: 10px
  line-height: 12px
  color: $d-gray
  font-weight: 500
  background: rgba(20, 16, 41, 0.02)
  &.dark
    background: $dark

.custom-icon
  width: 24px
  height: 24px
  background-image: url('../img/arrow-down.svg') !important
  opacity: 0.4
  transition: all 0.3s
  transform: rotate(90deg)
  position: absolute
  right: -5px
  top: 0

.averta
  font-family: 'Averta'

.my-container
  // margin: 10px 0

.index
  display: flex
  height: calc(100vh)
  overflow: hidden
  padding: 15px 0
  @media screen and ( min-width: 1300px )
    padding-left: 72px
  +media-b(1130)
    overflow: visible
    height: initial
.history
  display: flex
  height: calc(100vh)
  overflow: hidden
  padding: 15px 0
  @media screen and ( min-width: 1300px )
    padding-left: 72px
  +media-b(1130)
    overflow: visible
    height: initial
    padding: 0 0 15px
.dashboard
  display: flex
  height: calc(100vh)
  overflow: hidden
  padding: 15px 0
  @media screen and ( min-width: 1300px )
    padding-left: 72px
  +media-b(1130)
    overflow: visible
    height: initial
    padding: 0 0 15px
    
.wallet-page
  display: flex
  height: calc(100vh)
  overflow: hidden
  padding: 15px 0
  @media screen and ( min-width: 1300px )
    padding-left: 72px
  +media-b(1130)
    overflow: visible
    height: initial
    padding: 0 0 15px


h1
  font-size: 36px
  line-height: 36px
  font-weight: 700
  letter-spacing: -1px
  color: $black
h2
  font-size: 20px
  line-height: 28px
  color: $black
  font-weight: 600
h3
  font-size: 18px
  line-height: 24px
  color: $white
  font-weight: 600
  letter-spacing: 1.29px
  text-transform: uppercase

h4
  font-size: 24px
  line-height: 24px
  letter-spacing: -1px
  color: $black
  font-weight: 600

h6
  font-size: 14px
  line-height: 24px
  color: $black
  font-weight: 600
  letter-spacing: 1px

a
  // color: inherit !important
  outline: none

button, input, textarea, span, div, a
  outline: none !important
  &:hover
    outline: none !important
  &:focus
    outline: none !important
  &:active
    outline: none !important

.ui-selectmenu-menu
  ul
    border-radius: 4px
  .ui-menu-item
    &:not(:last-child)
      border-bottom: 1px solid rgba(20, 16, 41, 0.2) !important
  .ui-menu-item-wrapper
    background: rgba(20, 16, 41, 0.02) !important
    color: $black !important
    border: 1px solid transparent !important
    padding: 7px 15px !important
    font-weight: 400 !important
    margin: 0 !important
    transition: all 0.3s
    &:hover
      background: rgba(20, 16, 41, 0.06) !important

