.my-container
  max-width: 1200px
  margin: 0  0 0 auto
  padding: 0 30px
  width: 100%
  +media-b(1240)
    // max-width: 1130px
    margin-right: 0
  +media-b(1200)
    margin-right: auto
.my-row
  display: flex
  flex-wrap: wrap

@media screen and ( min-width: 1600px )
  .my-container
    margin-right: 0

@media (min-width:576px) 
  .my-container 
    max-width: 100%

@media (min-width:768px) 
  .my-container 
    max-width: calc(100%)
    
@media (min-width:992px) 
  .my-container 
    max-width: calc(100%)
    
@media (min-width:1200px) 
  .my-container 
    max-width: 1130px
    margin-right: auto
    
  