<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap")
    link(rel="stylesheet", href="./libs/css/vendor.min.css")
    link(rel="stylesheet", href="./css/style.css")
    title Orion
  body
    .index
      include ./pug/sidebar.pug
      .my-container
        .my-row
          .left-panel
            .common-info
              .top
                .star
                  img(src="./img/star.png", alt="")
                  span Pair
                select(name="").currecy-select
                  option(value="") ETH / BTC
                  option(value="") ETH / BTC
                  option(value="") ETH / BTC
              .price
                .last-price
                  span.title Last price
                  .value
                    span.emp 0.0174
                    span.dollars $174.41
                .change
                  span.title 24h change
                  .value
                    img(src="./img/growth.png", alt="")
                    p.emp +4.42 #[span %]
              .table
                .line
                  span.title 24h High
                  p.value.averta 0.015200 #[span.small $180.41]
                .line
                  span.title 24h Low
                  p.value.averta 0.014500 #[span.small $180.41]
                .line
                  span.title 24h Vol
                  p.value.averta 0.001500 #[span.small $180.41]
            
            .buy-sell
              .top
                button.active Buy
                button Sell
              .main-content
                .big-toggler
                  span.active Market
                  span Limit order
                .amount
                  span.placeholder Amount
                  input(type="text")
                  span.currency ETH
                  .available
                    span Available
                    span 0.10099921 BTC
                .btns
                  button 25%
                  button 50%
                  button 75%
                  button 100%
                .amount.total
                  span.placeholder Total
                  input(type="text", readonly="true")
                  span.currency BTC
                button.buy Buy ETH

          .center-panel    
            .image
              img(src="./img/graph.jpg", alt="") 
            .table
              .top
                .big-toggler
                  span.active Orders
                  span History
                .date
                  .date-1.js-date-1
                    input#date-1(type="date", name="")
                    label(for="date-1")
                      span.js-out 25.03.2000
                      img(src="./img/calendar.png", alt="")
                  span.hr -
                  .date-1.js-date-2
                    input#date-2(type="date", name="")
                    label(for="date-2")
                      span.js-out 25.03.2000
                      img(src="./img/calendar.png", alt="")
                .currency
                  select(name="").currency-select-1
                    option(value="") ETH
                    option(value="") ETH
                  span.sep /
                  select(name="").currency-select-1
                    option(value="") BTC
                    option(value="") ETH
                .all
                  select(name="").currency-select-1
                    option(value="") All
                    option(value="") All
              .table-content
                .titles
                  .title.short
                    span Type
                    img(src="./img/arrow-down.svg", alt="")
                  .title
                    span Pair
                    img(src="./img/arrow-down.svg", alt="")
                  .title
                    span Time
                    img(src="./img/arrow-down.svg", alt="")
                  .title
                    span Amount
                    img(src="./img/arrow-down.svg", alt="")
                  .title
                    span Price
                    img(src="./img/arrow-down.svg", alt="")
                  .title
                    span Status
                    img(src="./img/arrow-down.svg", alt="")
                  .title
                    span Total
                    img(src="./img/arrow-down.svg", alt="")
                .lines
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.open Open
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.cancel Cancel
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124
                  .line
                    span.cell.short.emp Sell
                    span.cell ETH / BTC
                    span.cell 09.09.2019 12:42:4
                    span.cell 0,004422124
                    span.cell 0,000042142
                    span.cell.filled Filled
                    span.cell 1,4422124

          .right-panel
            .order-book
              p.heading Order Book
              .titles
                span.title Price
                span.title Amount
                span.title Total
                span.title Exch
              .orders
                .order
                  span.progress-light.l-green
                  span.progress-light.d-green
                  span.cell.emp 0,0174
                  span.cell.green 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-green
                  span.progress-light.d-green
                  span.cell.emp 0,0174
                  span.cell.red 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .last-price
                  span.cell 0,0174
                  span.last Last Price
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
                .order
                  span.progress-light.l-red
                  span.progress-light.d-red
                  span.cell.emp 0,0174
                  span.cell 0,5125
                  span.cell 20.4124
                  .cell.exch 
                    img(src="./img/bitcoin.png", alt="")
                    img(src="./img/eth.png", alt="")
                    img(src="./img/arrow-down.svg", alt="").arrow
            

  script(src="./libs/js/vendor.min.js")
  script(src="./js/index.js")
  