.index-nav
  .index-nav-item.active.js-index-nav(data-nav="pair")
    .icon
      span.icon-mobile-1
    .text Pair
  .index-nav-item.js-index-nav(data-nav="exchange")
    .icon
      span.icon-mobile-2
    .text Exchange
  .index-nav-item.js-index-nav(data-nav="chart")
    .icon
      span.icon-mobile-3
    .text Chart
  .index-nav-item.js-index-nav(data-nav="history")
    .icon
      span.icon-mobile-4
    .text History
  .index-nav-item.js-index-nav(data-nav="orderbook")
    .icon
      span.icon-mobile-5
    .text Orderbook