.index-nav
  .index-nav-item.active.js-index-nav(data-nav="pair")
    .icon
      span.icon-link-1
    .text Pair
  .index-nav-item.js-index-nav(data-nav="exchange")
    .icon
      span.icon-link-1
    .text Exchange
  .index-nav-item.js-index-nav(data-nav="chart")
    .icon
      span.icon-link-1
    .text Chart
  .index-nav-item.js-index-nav(data-nav="history")
    .icon
      span.icon-link-1
    .text History
  .index-nav-item.js-index-nav(data-nav="orderbook")
    .icon
      span.icon-link-1
    .text Orderbook