.sidebar-line.js-sidebar-line
  .line
.sidebar-wrapper.js-sidebar-wrapper
  .sidebar-content
    a(href="").logo
      img(src="./img/logo.png", alt="")
    .links
      .dark-mode
        span.icon-dark-mode.icon
        span.text Dark Mode
      nav
        a(href="").nav-link.active
          span.icon-link-1.icon
          span.text Home
        a(href="").nav-link
          span.icon-link-2.icon
          span.text Dashboard
        a(href="").nav-link
          span.icon-link-3.icon
          span.text History
      .aside-coins
        .coin
          img(src="./img/bit-aside.svg", alt="")
          span.text Bitcoin
        .coin
          img(src="./img/eth-aside.svg", alt="")
          span.text Ethereum
        .coin
          img(src="./img/dash-small.png", alt="")
          span.text Dash
      button.add-wallet
        img(src="./img/close.png", alt="")
        span Add Wallet
