.top-menu
  .links
    a(href="").logo
      img(src="./img/logo.png", alt="")
    a(href="").nav-link.active
      span.icon-link-1.icon
    a(href="").nav-link
      span.icon-link-2.icon
    a(href="").nav-link
      span.icon-link-3.icon
    a(href="").nav-link
      span.icon-link-1.icon
    a(href="").nav-link
      span.icon-link-1.icon
