.dashboard
  .graph
    box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
    border-radius: 4px
    background: $white
    padding: 24px
    width: 24%
    height: calc(100vh - 30px)
    overflow-y: auto
    +media-b(1130)
      width: 27%
      margin-right: 8px
      padding: 16px
      height: initial
    +media-b(830)
      width: 60%
      margin: 0 0 16px 0
    +media-b(582)
      width: 100%
    h2
      margin-bottom: 32px
    .graph-container
      width: 250px
      height: 250px
      font-weight: 700 !important
      font-family: 'Montserrat', sans-serif !important
      transform: translateX(-10px)
      margin: auto
      +media-b(980)
        width: 210px
        height: 210px
      +media-b(830)
        width: 300px
        height: 300px
      +media-b(666)
        transform: translateX(0)
      +media-b(360)
        width: 260px
        height: 260px
    .coins
      margin-top: 36px
      .coin
        display: flex
        align-items: center
        justify-content: space-between
        margin: 8px 0
        .left
          display: flex
          align-items: center
          img
            width: 20px
            height: 20px
            margin-right: 18px
          .name
            font-size: 14px
            line-height: 24px
            letter-spacing: 1px
            font-weight: 600
            text-transform: uppercase
            color: $black
        .num
          font-size: 14px
          line-height: 24px
          color: $black