.dashboard
  .wrapper
    .wallets-table
      box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
      border-radius: 4px
      background: $white
      padding: 22px
      +media-b(1130)
        padding: 18px
      .titles
        display: flex
        align-items: center
        padding: 0 12px
        margin-bottom: 12px
        +media-b(1130)
          display: none
        .title
          width: 18.5%
          color: $black
          display: flex
          align-items: center
          cursor: pointer
          font-size: 14px
          line-height: 16px
          &.actions
            width: 59%
            justify-content: flex-end
          img
            opacity: 0.4
            transform: rotate(90deg)
            width: 17px
            height: 17px
      .lines
        padding-bottom: 10px
        overflow-y: auto
        max-height: calc(50vh - 80px)
        +media-b(1130)
          max-height: 980px
        .line
          display: flex
          align-items: center
          padding: 6px 12px
          cursor: pointer
          transition: all 0.3s
          +media-b(1130)
            flex-direction: column
            padding: 0
            &:not(:last-child)
              margin-bottom: 32px
          .cell
            width: 18.5%
            font-size: 14px
            line-height: 24px
            +media-b(1130)
              display: flex
              width: 100%
              align-items: center
              justify-content: space-between
              margin-bottom: 4px
            .title-m
              display: none
              color: $h-d-gray
              +media-b(1130)
                display: block
            &.actions
              width: 59%
              display: flex
              align-items: center
              justify-content: flex-end
              +media-b(1130)
                width: 100%
                margin-top: 16px
                flex-direction: column
              button
                padding: 8px 16px
                background: rgba(20, 16, 41, 0.02)
                border-radius: 2px
                border: none
                font-size: 14px
                line-height: 20px
                cursor: pointer
                transition: all 0.3s
                color: $black
                +media-b(1130)
                  width: 100%
                &:hover
                  background: rgba(20, 16, 41, 0.06)                  
                span
                  margin-left: 10px
                &.withdraw
                  img
                    transform: rotate(180deg)
                &:not(:last-child)
                  margin-right: 6px
                  +media-b(1130)
                    margin: 0 0 8px 0
            &.coins
              display: flex
              align-items: center
              color: $black
              font-size: 16px
              font-weight: 600
              +media-b(1130)
                margin-bottom: 16px
                justify-content: flex-start
              img
                margin-right: 12px